.flashy   {
  color: red;
  font-style: italic;
}

h4    {
  color: grey;
  font-weight: 300;
}

p   {
  color: rgb(242, 242, 242);
}

#Best   {
  color: rgb(143, 0, 210);
}
body  {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-align: center;
  font-size: large;
  font-variant: small-caps;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}